#pgdatabase
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_MAPPED_HOST_PORT=

#pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

#dbt
DBT_PROFILES_DIR=/workspaces/dbt-core-postgres-setup/dbt
DBT_SEND_ANONYMOUS_USAGE_STATS=False
# because this is a dev configuration, we will use the same root credentials postgresqlwas initialized on
DBT_DB_USER=
DBT_DB_PASSWORD=
DBT_DB=
# In dev, database will be at localhost:POSTGRES_MAPPED_HOST_PORT
